<div class="container">
  <div class="title">
    <h1>Itens do dia</h1>
  </div>
  <div class="card">
    <p-carousel
      [value]="shopItems"
      [numVisible]="5"
      [numScroll]="5"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      autoplayInterval="6000"
      ngClass="width: 8px; height: 8px; margin: 0 4px"
    >
      <ng-template let-product pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3">
          <div class="mb-3">
            <div class="relative mx-auto">
              <img
                *ngIf="product.brItems?.length > 0"
                [src]="
                  product.brItems[0]?.images?.smallIcon
                    ? product.brItems[0].images.smallIcon
                    : 'assets/images/default-skin.png'
                "
                [alt]="
                  product.brItems[0]?.name
                    ? product.brItems[0].name
                    : 'Imagem padrão'
                "
                class="w-full border-round"
              />
            </div>
          </div>
          <div class="mb-3 font-medium">
            {{
              product.brItems?.length > 0
                ? product.brItems[0].name
                : "Ops, não foi possível carregar o item"
            }}
          </div>
          <div class="flex justify-content-between align-items-center">
            <div class="mt-0 font-semibold text-xl">
              <span class="flex align-items-center gap-1"
                ><img
                  src="assets/images/vbuck.png"
                  alt="Ícone V-buck"
                  height="25px"
                  width="25px"
                />{{ product.regularPrice }}</span
              >
            </div>
            <span>
              <p-button icon="pi pi-info-circle" styleClass="ml-2"></p-button>
            </span>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- <div *ngFor="let shopItem of shopItems">
      <p>Regular Price: {{ shopItem.regularPrice }}</p>
      <p>Giftable: {{ shopItem.giftable }}</p>


      <div *ngFor="let brItem of shopItem.brItems">
        <p>
          Image:
          <img
            *ngIf="brItem?.images?.icon"
            [src]="brItem.images.icon"
            alt="Item Image"
          />
        </p>
      </div>
    </div> -->
</div>
